<% include ./partials/head %>

<div class="container-flex">
  <h1 class="text-center"> Weather Getter </h1>
</div>
<div class="container">
  <a href='/setup'>Setup</a>
</div>

<% include ./partials/foot %>
